@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
  .countdown-container {
    padding-top: 0px; /* Adjust top padding for mobile devices */
  }

  .content-container {
    padding: 20px; /* Add padding around content */
  }

  .image-transition {
    transition: opacity 0.5s ease-in-out;
    opacity: 0; /* Start with an opacity of 0 */
  }

  .image-visible {
    opacity: 1; /* Fade in to full visibility */
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .countdown-container div {
    padding: 2rem; /* Increase padding for larger screens */
    font-size: 3rem; /* Larger font size for desktop */
  }
}
