@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* CSS */
@media only screen and (max-width: 600px) { /* 600px обычно используется как порог для мобильных устройств */
  .countdown-container {
    padding-top: 130px; /* Добавляет отступ сверху для мобильных устройств */
  .content-container {
  /* Add your styles here */
  /* For example, if you want to add padding: */
  padding: 20px;
}
  }
}
  
/* Медиа-запрос для десктопов */
@media (min-width: 1024px) {
  .countdown-container div {
    /* Увеличиваем размеры элементов счетчика */
    padding: 2rem;
    font-size: 3rem; /* Увеличенный размер шрифта для десктопов */
  }
}